
@media screen and (min-width: 768px) {
    .main-title {
        font-size: 35px;
    }

    #primary-menu ul.menu li.current-page-item,
    #primary-menu ul.menu li.current-page-item *,
    #primary-menu ul.menu li.current-menu-item,
    #primary-menu ul.menu li.current-menu-item * {
        border-bottom: solid 2px #2b2b2b !important;
    }

    .main-navigation .main-nav ul li,
    .main-navigation .main-nav ul li:hover,
    .main-navigation .main-nav ul li:active,
    .main-navigation .main-nav ul li:focus,
    .main-navigation .main-nav ul li:focus>a,
    .main-navigation .main-nav ul li:hover>a,
    .main-navigation .main-nav ul li:focus>a,
    .main-navigation .main-nav ul li.sfHover>a,
    .main-navigation .main-nav ul li>a,
    .main-navigation .main-nav ul li>a:hover,
    .main-navigation .main-nav ul li>a:active,
    .main-navigation .main-nav ul li>a:focus,
    .main-navigation .main-nav ul li[class*="current-menu-"]>a {
        /* color: #ffffff; */
        background-color: transparent;
    }

    #main {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #page {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #primary-cars {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }

    /* #################################### */
    /* Header Style */
    /* #################################### */

    .site-branding {
        padding-bottom: 25px;
    }

    #masthead .inside-header {
        padding-bottom: 20px;
    }

    .site-branding .main-title a,
    .site-branding * {
        color: white;
    }

    .site-logo {
        min-width: 100%;
    }

    .site-logo * {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #main-header {
        background-color: #AB0000;
        width: 100%;
        position: relative;
        height: 280px;
        box-shadow: 0px 10px 8px #bdbdbd;
    }

    #main-header>*:not(#contact-info) {
        display: inline-block;
    }

    #site-navigation {
        position: absolute;
        right: 0;
        bottom: 15px;
        width: 65%;
    }

    #site-navigation .menu>* {
        display: block;
    }

    #site-navigation .menu {
        display: block;
    }

    .clearfix::after {
        content: " ";
        /* display: block; */
        /* height: 0; */
        /* clear: both; */
    }

    #masthead {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: transparent;
        /* width: 350px; */
    }



    #contact-info {
        background-color: #646464;
        /* height: 50px; */
    }

    #contact-info>* {
        margin: 15px;
        float: left;
    }

    #contact-info>*>* {
        margin-right: 35px;
    }

    #contact-info .contact {
        margin: 15px;
        max-height: 25px;
    }

    #contact-info>*>*>* {
        margin-right: 10px;

    }

    #contact-info>*>*>img {
        float: left;

    }

    #contact-info>*>*>span {
        float: right;
        margin-bottom: 25px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    #contact-info .contact {
        float: right;
    }

    #contact-info .contact * {
        display: inline-block;
    }

    #site-navigation {
        background-color: transparent;
    }

    #site-navigation .menu>li>a {
        font-weight: bold;
        -webkit-transition: text-shadow 0.5s;
        /* Safari */
        transition: text-shadow 0.5s;
    }

    #site-navigation .menu>li>a:hover {
        background-color: transparent;
        text-shadow: 0px 0px 15px white;
        color: antiquewhite;
    }
}

@media screen and (max-width: 768px) {}