@media screen and (min-width: 768px) {

    /*####################################*/
    /* Shop Style */
    /*####################################*/
    .entry-content .products {
        padding: 10px;
    }

    .entry-content .products .product {
        padding: 10px;
        border: solid 1px #646464;
    }

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        float: left;
        margin: 0 3.8% 2.992em 0;
        margin-top: 3.8%;
        margin-right: 3.8%;
        margin-bottom: 2.992em;
        margin-left: 3.8%;
        padding: 10px;
        position: relative;
        width: 22.05%;
    }

    /*####################################*/
    /* Shop By Categories Style */
    /*####################################*/
    .products-by-category {
        width: 100%;
    }

    .products-by-category>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .products-by-category>ul>li {
        width: 18%;
        min-height: 275px;
        vertical-align: bottom;
        cursor: pointer;
        display: inline-block;
        background-color: #f1f1f1;
        border: solid 1px #cecece;
        margin-right: 8px;
        margin-bottom: 10px;
    }

    .products-by-category>ul>li>a>.info {
        padding: 10px;
        padding-top: 0;
    }

    .products-by-category>ul>li>a>.info>* {
        color: black;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

    .products-by-category>ul>li>a>.info>*:hover {
        color: black;
    }

    .products-by-category>ul>li>a>.info>.title {
        padding-top: 10px;
        border-top: solid 1px #646464;
        color: rgb(83, 0, 0);
    }

    .products-by-category>ul>li>a>.info>.price {
        color: rgb(163, 117, 117);
    }

    .products-by-category .image {
        min-height: 200px;
        padding: 6px;
    }

    .products-by-category .image img {
        background-color: white;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {

    /*####################################*/
    /* Shop By Categories Style */
    /*####################################*/
    .products-by-category {
        width: 100%;
    }

    .products-by-category>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .products-by-category>ul>li {
        width: 100%;
        min-height: 375px;
        vertical-align: bottom;
        cursor: pointer;
        display: inline-block;
        background-color: #f1f1f1;
        border: solid 1px #cecece;
        margin-right: 8px;
        margin-bottom: 10px;
    }

    .products-by-category>ul>li>a>.info {
        padding: 10px;
        padding-top: 0;
    }

    .products-by-category>ul>li>a>.info>* {
        color: black;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

    .products-by-category>ul>li>a>.info>*:hover {
        color: black;
    }

    .products-by-category>ul>li>a>.info>.title {
        padding-top: 10px;
        border-top: solid 1px #646464;
        color: rgb(83, 0, 0);
    }

    .products-by-category>ul>li>a>.info>.price {
        color: rgb(163, 117, 117);
    }

    .products-by-category .image {
        min-height: 200px;
        padding: 10px;
    }

    .products-by-category .image img {
        background-color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
}